table {
  font-family: monospace;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
body {margin:0;}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-style: solid;
  background-color: white;
  padding: 16px;
}




.main {
  padding: 16px;
  margin-top: 130px;
  height: 1500px; /* Used in this example to enable scrolling */
}
